# **Task 1 Environment Setup & Data Ingestion**

# **ENVIRONMENT SETUP**

## Install Required Libraries

In [ ]:
!pip install pyspark==3.5.0
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pyspark==3.5.0 in /usr/local/lib/python3.12/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark==3.5.0) (0.10.9.7)
Requirement already satisfied: pymongo in /usr/local/lib/python3.12/dist-packages (4.16.0)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in /usr/local/lib/python3.12/dist-packages (from pymongo) (2.8.0)
Requirement already satisfied: dnspython in /usr/local/lib/python3.12/dist-packages (2.8.0)

# Environment setup and check secrets are success

In [ ]:
from google.colab import userdata
import os

# Read MongoDB URI from secrets
mongo_uri = userdata.get("MONGO_URI")

# Store as environment variable
os.environ["MONGO_URI"] = mongo_uri

print("Secret loaded successfully!")

#Connect to MongoDB Atlas

from pymongo import MongoClient

try:
    client = MongoClient(os.environ["MONGO_URI"])

    # Test connection
    client.admin.command("ping")

    print("✅ Authentication Successful!")
    print("Connected to MongoDB Atlas.")

except Exception as e:
    print("❌ Connection failed")
    print(e)

Secret loaded successfully!
✅ Authentication Successful!
Connected to MongoDB Atlas.

## Import Libraries

In [ ]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

## Initialize Spark Session with MongoDB

In [ ]:
# Load MongoDB URI securely from Secrets
mongo_uri = userdata.get("MONGO_URI")

# Store as environment variable (security requirement)
os.environ["MONGO_URI"] = mongo_uri

spark = (
    SparkSession.builder
    .appName("Ecommerce_BigData_Assignment")
    .master("local[*]")
    .config(
        "spark.jars.packages",
        "org.mongodb.spark:mongo-spark-connector_2.12:10.3.0"
    )
    .config("spark.mongodb.read.connection.uri", os.environ["MONGO_URI"])
    .config("spark.mongodb.write.connection.uri", os.environ["MONGO_URI"])
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY")
    .getOrCreate()
)

print("Spark Session created successfully!")
print("MongoDB connector configured and ready.")
print(spark.sparkContext._conf.get("spark.jars.packages"))

Spark Session created successfully!
MongoDB connector configured and ready.
org.mongodb.spark:mongo-spark-connector_2.12:10.3.0

# **Load Dataset & Explore**

## Mount Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Set File Path in Drive

In [ ]:
file_path = "/content/drive/MyDrive/Big Data Assignment 2/E_Commerce_Data_UK (1).csv"

## Load CSV into Spark DataFrame

In [ ]:
df = spark.read.csv(
file_path,
header=True,
inferSchema=True
)

In [ ]:
df.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

## Explore Dataset

In [ ]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [ ]:
print("Total records:", df.count())

Total records: 541909

# **Bronze Layer (Raw Data)**

## Convert InvoiceDate to timestamp

In [ ]:
from pyspark.sql.functions import to_timestamp

bronze_df = df.withColumn(
    "InvoiceDate",
    to_timestamp("InvoiceDate", "M/d/yyyy H:mm")
)

## Extract Year & Month for partitioning

In [ ]:
from pyspark.sql.functions import year, month

bronze_df = bronze_df \
       .withColumn("Year", year("InvoiceDate")) \
       .withColumn("Month", month("InvoiceDate"))

In [ ]:
bronze_df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)

## Save Bronze Layer as Parquet partitioned by Year & Month

In [ ]:
from google.colab import drive
# Bronze layer path
bronze_path = "/content/drive/MyDrive/Big Data Assignment 2/Bronze"

# Write dataframe to Bronze layer
bronze_df.write.mode("overwrite") \
    .partitionBy("Year", "Month") \
    .parquet(bronze_path)

print("Bronze Layer saved successfully!")

Bronze Layer saved successfully!

In [ ]:
print("Total records:", df.count())

Total records: 541909

# **TASK 2 – Data Cleaning & Quality Management**

## Data Cleaning Preparation

In [ ]:
total_records_before = df.count()
print("Total records before cleaning:", total_records_before)

Total records before cleaning: 541909

## Missing CustomerID Handling

In [ ]:
from pyspark.sql.functions import col, when, lit

missing_customer_count = bronze_df.filter(col("CustomerID").isNull()).count()

df_step1 = bronze_df.withColumn(
    "CustomerID",
    when(col("CustomerID").isNull(), lit(-1))
    .otherwise(col("CustomerID"))
)

print("Missing CustomerID Records Reassigned:", missing_customer_count)


df_step1.filter(col("CustomerID") == -1).count()
df_step1.filter(col("CustomerID") == -1).show(5)

Missing CustomerID Records Reassigned: 135080
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|Year|Month|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|   536414|    22139|                NULL|      56|2010-12-01 11:52:00|      0.0|        -1|United Kingdom|2010|   12|
|   536544|    21773|DECORATIVE ROSE B...|       1|2010-12-01 14:32:00|     2.51|        -1|United Kingdom|2010|   12|
|   536544|    21774|DECORATIVE CATS B...|       2|2010-12-01 14:32:00|     2.51|        -1|United Kingdom|2010|   12|
|   536544|    21786|  POLKADOT RAIN HAT |       4|2010-12-01 14:32:00|     0.85|        -1|United Kingdom|2010|   12|
|   536544|    21787|RAIN PONCHO RETRO...|       2|2010-12-01 14:32:00|     1.66|        -1|United Kingdom|2010|   12|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
only showing top 5 rows

## Negative Quantity Handling (Returns)

In [ ]:
from pyspark.sql.functions import col, when, abs

# Count negative quantities (returns)
negative_qty_count = df_step1.filter(col("Quantity") < 0).count()

# Keep all records and flag returns
df_step2 = df_step1.withColumn(
    "is_return",
    when(col("Quantity") < 0, True).otherwise(False)
).withColumn(
    "net_quantity",
    abs(col("Quantity"))
)

print("Negative Quantity (Return) Records:", negative_qty_count)

Negative Quantity (Return) Records: 10624

## Cancelled Invoice Handling

In [ ]:
cancelled_count = df_step2.filter(
    col("InvoiceNo").startswith("C")
).count()
df_step3 = df_step2.filter(
  ~col("InvoiceNo").startswith("C")
)
print("Cancelled Invoice Records Removed:", cancelled_count)

Cancelled Invoice Records Removed: 0

## Invalid Price Handling

In [ ]:
invalid_price_count = df_step3.filter(
col("UnitPrice") <= 0
).count()
df_step4 = df_step3.filter(
col("UnitPrice") > 0
)
print("Invalid Price Records Removed:", invalid_price_count)

Invalid Price Records Removed: 40

# Remove Extreme Outliers (IQR Method)

In [ ]:
quantiles = df_step4.approxQuantile(
"UnitPrice",
[0.25, 0.75],
0
)
Q1 = quantiles[0]
Q3 = quantiles[1]
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outlier_count = df_step4.filter(
(col("UnitPrice") < lower_bound) |
(col("UnitPrice") > upper_bound)
).count()
df_step5 = df_step4.filter(
(col("UnitPrice") >= lower_bound) &
(col("UnitPrice") <= upper_bound)
)
print("Extreme Price Outliers Removed:", outlier_count)

Extreme Price Outliers Removed: 34356

## Duplicate Record Handling

In [ ]:
before_dup = df_step5.count()
silver_df = df_step5.dropDuplicates()
after_dup = silver_df.count()
duplicate_removed = before_dup - after_dup

print("Duplicate Records Removed:", duplicate_removed)

Duplicate Records Removed: 4948

# Final Clean Record Count

In [ ]:
clean_records = silver_df.count()
print("Final Clean Records:", clean_records)

Final Clean Records: 358580

## Null Count Per Column

In [ ]:
from pyspark.sql.functions import col, sum as spark_sum

null_counts = bronze_df.select([
    spark_sum(col(c).isNull().cast("int")).alias(c)
    for c in bronze_df.columns
])

null_counts.show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+----+-----+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|Year|Month|
+---------+---------+-----------+--------+-----------+---------+----------+-------+----+-----+
|        0|        0|       1454|       0|          0|        0|    135080|      0|   0|    0|
+---------+---------+-----------+--------+-----------+---------+----------+-------+----+-----+

## Data Quality Report Summary

In [ ]:
dq_report = spark.createDataFrame([
    ("Total Records Processed", total_records_before),
    ("Missing CustomerID Removed", missing_customer_count),
    ("Negative Quantity Removed", negative_qty_count),
    ("Cancelled Invoices Removed", cancelled_count),
    ("Invalid Price Removed", invalid_price_count),
    ("Extreme Price Outliers Removed", outlier_count),
    ("Duplicate Records Removed", duplicate_removed),
    ("Final Clean Records", clean_records)
], ["Metric", "Value"])

dq_report.show()

+--------------------+------+
|              Metric| Value|
+--------------------+------+
|Total Records Pro...|541909|
|Missing CustomerI...|135080|
|Negative Quantity...| 10624|
|Cancelled Invoice...|     0|
|Invalid Price Rem...|    40|
|Extreme Price Out...| 34356|
|Duplicate Records...|  4948|
| Final Clean Records|358580|
+--------------------+------+

# Export Data Quality Report

In [ ]:
# Define report directory
report_dir = "/content/drive/MyDrive/Big Data Assignment 2"

# Save Data Quality Report as CSV
dq_report.toPandas().to_csv(
    f"{report_dir}/data_quality_report.csv",
    index=False
)

print("Data Quality Report saved successfully!")

Data Quality Report saved successfully!

## Save Silver Layer

In [ ]:
silver_path = "/content/drive/MyDrive/Big Data Assignment 2/Silver_Parquet"

silver_df.write.mode("overwrite") \
    .partitionBy("Year", "Month") \
    .parquet(silver_path)

print("Silver Layer saved successfully!")

Silver Layer saved successfully!

# **TASK 3 – Feature Engineering**

## Revenue Calculation

In [ ]:
from pyspark.sql.functions import col
feature_df = silver_df.withColumn(
    "Revenue",
     col("Quantity") * col("UnitPrice")
)

feature_df .show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+-----------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|Year|Month|          Revenue|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+-----------------+
|   536406|   84029G|KNITTED UNION FLA...|       6|2010-12-01 11:33:00|     3.39|     17850|United Kingdom|2010|   12|            20.34|
|   536412|    20728| LUNCH BAG CARS BLUE|       3|2010-12-01 11:49:00|     1.65|     17920|United Kingdom|2010|   12|4.949999999999999|
|   536525|    20973|12 PENCIL SMALL T...|       2|2010-12-01 12:54:00|     0.65|     14078|United Kingdom|2010|   12|              1.3|
|   536542|    22379|RECYCLING BAG RET...|      20|2010-12-01 14:11:00|      2.1|     16456|United Kingdom|2010|   12|             42.0|
|   536542|   85099F|JUMBO BAG STRAWBERRY|      30|2010-12-01 14:11:00|     1.95|     16456|United Kingdom|2010|   12|             58.5|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+-----------------+
only showing top 5 rows

## Time-Based Features

In [ ]:
feature_df  = feature_df .withColumn("InvoiceHour", hour("InvoiceDate")) \
             .withColumn("InvoiceWeekday", dayofweek("InvoiceDate")) \
             .withColumn("InvoiceMonth", month("InvoiceDate")) \
             .withColumn("InvoiceYear", year("InvoiceDate"))

## Basket-Level Metrics

Basket = InvoiceNo

In [ ]:
from pyspark.sql.functions import countDistinct, sum as spark_sum

basket_metrics =feature_df .groupBy("InvoiceNo").agg(
    countDistinct("StockCode").alias("BasketSize"),
    spark_sum("Quantity").alias("TotalItems"),
    spark_sum("Revenue").alias("BasketRevenue")
)

In [ ]:
feature_df  = feature_df .join(basket_metrics, on="InvoiceNo", how="left")

## Customer RFM Features

a) Reference date (latest transaction)

In [ ]:
from pyspark.sql.functions import max as spark_max

reference_date = feature_df .select(
    spark_max("InvoiceDate").alias("max_date")
).collect()[0]["max_date"]

b) RFM calculation

In [ ]:
rfm = feature_df .groupBy("CustomerID").agg(
    datediff(lit(reference_date), spark_max("InvoiceDate")).alias("Recency"),
    countDistinct("InvoiceNo").alias("Frequency"),
    spark_sum("Revenue").alias("Monetary")
)

In [ ]:
feature_df = feature_df .join(rfm, on="CustomerID", how="left")

## Spark Window-Based Feature

Customer running total revenue

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum as spark_sum

customer_window = Window.partitionBy("CustomerID") \
                        .orderBy("InvoiceDate") \
                        .rowsBetween(Window.unboundedPreceding, Window.currentRow)

feature_df = feature_df.withColumn(
    "CumulativeCustomerRevenue",
    spark_sum("Revenue").over(customer_window)
)

## Average Basket Value

In [ ]:
from pyspark.sql.functions import col, countDistinct, sum as spark_sum

cols_to_drop = ["BasketSize", "TotalItems", "BasketRevenue"]
for c in cols_to_drop:
    if c in feature_df.columns:
        feature_df= feature_df.drop(c)

feature_df=feature_df.join(basket_metrics, on="InvoiceNo", how="left")

feature_df = feature_df.withColumn(
    "AvgBasketValue",
    col("BasketRevenue") / col("BasketSize")
)

## Save Feature-Engineered Data

In [ ]:
Gold_path= "/content/drive/MyDrive/Big Data Assignment 2/gold"
feature_df.write \
    .mode("overwrite") \
    .partitionBy("Year", "Month") \
    .parquet(Gold_path)

print("Feature Engineered Data Saved successfully.")

Feature Engineered Data Saved successfully.

# **TASK 4 – MongoDB Data Modeling**

# Load Dataset

In [ ]:
feature_df = spark.read.parquet ( "/content/drive/MyDrive/Big Data Assignment 2/gold" )

# Create MongoDB Collections

# Fact_Invoice

In [ ]:
from pyspark.sql.functions import collect_list, struct, sum, first, col

df_fact = feature_df.groupBy("InvoiceNo").agg(
    first("InvoiceDate").alias("invoice_date"),
    first("CustomerID").alias("customer_id"),
    first("Country").alias("country"),
    first("InvoiceYear").alias("invoice_year"),
    first("InvoiceMonth").alias("invoice_month"),
    sum("Quantity").alias("total_quantity"),
    sum("Revenue").alias("total_amount"),
    collect_list(
        struct(
            col("StockCode").alias("product_id"),
            col("Description").alias("product_name"),
            col("Quantity").alias("quantity"),
            col("UnitPrice").alias("unit_price"),
            col("Revenue").alias("line_total")
        )
    ).alias("line_items")
)

In [ ]:
from pyspark.sql.functions import col, when
from pyspark.sql.types import TimestampType

datetime_cols = [f.name for f in df_fact.schema.fields if isinstance(f.dataType, TimestampType)]
for c in datetime_cols:
    df_fact = df_fact.withColumn(
        c,
        when(col(c).isNotNull(), col(c).cast(TimestampType())).otherwise(None)
    )

# Dim_Customers

In [ ]:
from pyspark.sql.functions import (
    sum, countDistinct, datediff, max, lit
)

# Reference date
reference_date =feature_df.select(max("InvoiceDate")).collect()[0][0]

df_customers = feature_df.groupBy("CustomerID").agg(
    max("InvoiceDate").alias("last_purchase_date"),
    countDistinct("InvoiceNo").alias("frequency"),
    sum("Revenue").alias("monetary")
).withColumn(
    "recency",
    datediff(lit(reference_date), col("last_purchase_date"))
)

# Dim_Products

In [ ]:
#prod_performence
df_product_perf = feature_df.groupBy(
    "StockCode", "Description"
).agg(
    sum("Quantity").alias("total_quantity_sold"),
    sum("Revenue").alias("total_revenue")
)

In [ ]:
#Country wise distribution
df_country_dist = feature_df.groupBy(
    "StockCode", "Country"
).agg(
    sum("Quantity").alias("quantity_sold"),
    sum("Revenue").alias("revenue")
)

In [ ]:
#Embedd country distribution
from pyspark.sql.functions import sum, first

df_products = feature_df.groupBy("StockCode").agg(
    first("Description", ignorenulls=True).alias("Description"),
    sum("Quantity").alias("total_quantity_sold"),
    sum("Revenue").alias("total_revenue")
)

# Find Duplicate Stockcodes

In [ ]:
from pymongo import UpdateOne
from pymongo import MongoClient

mongo_uri = os.environ["MONGO_URI"]
client = MongoClient(mongo_uri)
db = client["retail_dw"]

# 1️⃣ Find duplicates
pipeline = [
    {"$group": {
        "_id": "$StockCode",
        "docs": {"$push": "$$ROOT"},
        "count": {"$sum": 1}
    }},
    {"$match": {"count": {"$gt": 1}}}
]

duplicates = list(db.dim_products.aggregate(pipeline))
print(f"Found {len(duplicates)} duplicate StockCodes")

Found 0 duplicate StockCodes

# Merge and Delete Duplicate Stockcodes

In [ ]:
from pyspark.sql.functions import col

# Keep only one row per StockCode, e.g., the first
df_products_unique = df_products.dropDuplicates(["StockCode"])

print("Number of unique products:", df_products_unique.count())

Number of unique products: 3418

In [ ]:
df_fact.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- invoice_year: integer (nullable = true)
 |-- invoice_month: integer (nullable = true)
 |-- total_quantity: long (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- line_items: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- product_id: string (nullable = true)
 |    |    |-- product_name: string (nullable = true)
 |    |    |-- quantity: integer (nullable = true)
 |    |    |-- unit_price: double (nullable = true)
 |    |    |-- line_total: double (nullable = true)

In [ ]:
df_customers.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- last_purchase_date: timestamp (nullable = true)
 |-- frequency: long (nullable = false)
 |-- monetary: double (nullable = true)
 |-- recency: integer (nullable = true)

In [ ]:
df_products.printSchema()

root
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- total_quantity_sold: long (nullable = true)
 |-- total_revenue: double (nullable = true)

#**TASK 5 – Indexing & Write Optimization**

# Gold datasets to MongoDB

In [ ]:
# Write fact_invoices
df_fact.write \
    .format("mongodb") \
    .mode("overwrite") \
    .option("spark.mongodb.database", "E-Commerce_Database") \
    .option("spark.mongodb.collection", "fact_invoices") \
    .save()

# Write dim_customers
df_customers.write \
    .format("mongodb") \
    .mode("overwrite") \
    .option("spark.mongodb.database", "E-Commerce_Database") \
    .option("spark.mongodb.collection", "dim_customers") \
    .save()

# Write dim_products
df_products.write \
    .format("mongodb") \
    .mode("overwrite") \
    .option("spark.mongodb.database", "E-Commerce_Database") \
    .option("spark.mongodb.collection", "dim_products") \
    .save()

print("All Gold datasets written to MongoDB successfully ")

All Gold datasets written to MongoDB successfully

# Creating Indexes on MongoDB Collections

In [ ]:
from pymongo import MongoClient
from google.colab import userdata

# Ensure db client is active. This re-initializes it if needed.
mongo_uri = userdata.get("MONGO_URI")
client = MongoClient(mongo_uri)
db = client["E-Commerce_Database"]

# Index 1 — CustomerID (fact_invoices)
db.fact_invoices.create_index("CustomerID")
print("Index on fact_invoices.CustomerID created.")

# Index 2 - InvoiceDate (fact_invoices)
db.fact_invoices.create_index("InvoiceDate")
print("Index on fact_invoices.InvoiceDate created.")

# Index 3 — CustomerSegment (dim_customers)
db.dim_customers.create_index("CustomerSegment")
print("Index on dim_customers.CustomerSegment created.")

# Index 4 — StockCode (dim_products)
db.dim_products.create_index("StockCode")
print("Index on dim_products.StockCode created.")

print("All specified indexes created successfully")

Index on fact_invoices.CustomerID created.
Index on fact_invoices.InvoiceDate created.
Index on dim_customers.CustomerSegment created.
Index on dim_products.StockCode created.
All specified indexes created successfully

# Verifying There is No Duplicates

In [ ]:
from pymongo import ASCENDING

pipeline = [
    {"$group": {"_id": "$StockCode", "count": {"$sum": 1}}},
    {"$match": {"count": {"$gt": 1}}}
]

duplicates = list(db.dim_products.aggregate(pipeline))
print("Duplicate StockCodes:", duplicates[:10])  # show first 10 duplicates

Duplicate StockCodes: []

# Comparison of Queries Before and After the Indexing

In [127]:
# Query before indexing (forced collection scan)
explain_no_index = db.command(
    "explain",
    {
        "find": "fact_invoices",
        "filter": {"customer_id": 17850},  # ✅ integer
        "hint": {"$natural": 1}            # forces COLLSCAN
    },
    verbosity="executionStats"
)

print(
    "Without index (forced):",
    explain_no_index["executionStats"]["executionTimeMillis"],
    "ms"
)

Without index (forced): 12 ms

In [129]:
db.fact_invoices.create_index({"customer_id": 1})

explain_with_index = db.command(
    "explain",
    {
        "find": "fact_invoices",
        "filter": {"customer_id": 17850}
    },
    verbosity="executionStats"
)

print(
    "With index:",
    explain_with_index["executionStats"]["executionTimeMillis"],
    "ms"
)

With index: 1 ms

# verify index usage

In [ ]:
db.fact_invoices.find({"CustomerID": 17850}).explain()

{'explainVersion': '1',
 'queryPlanner': {'namespace': 'E-Commerce_Database.fact_invoices',
  'parsedQuery': {'CustomerID': {'$eq': 17850}},
  'indexFilterSet': False,
  'queryHash': 'B6E1B21F',
  'planCacheShapeHash': 'B6E1B21F',
  'planCacheKey': '445467B7',
  'optimizationTimeMillis': 0,
  'maxIndexedOrSolutionsReached': False,
  'maxIndexedAndSolutionsReached': False,
  'maxScansToExplodeReached': False,
  'prunedSimilarIndexes': False,
  'winningPlan': {'isCached': False,
   'stage': 'FETCH',
   'inputStage': {'stage': 'IXSCAN',
    'keyPattern': {'CustomerID': 1},
    'indexName': 'CustomerID_1',
    'isMultiKey': False,
    'multiKeyPaths': {'CustomerID': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'CustomerID': ['[17850, 17850]']}}},
  'rejectedPlans': []},
 'executionStats': {'executionSuccess': True,
  'nReturned': 0,
  'executionTimeMillis': 0,
  'totalKeysExamined': 0,
  'totalDocsExamined': 0,
  'executionStages': {'isCached': False,
   'stage': 'FETCH',
   'nReturned': 0,
   'executionTimeMillisEstimate': 0,
   'works': 1,
   'advanced': 0,
   'needTime': 0,
   'needYield': 0,
   'saveState': 0,
   'restoreState': 0,
   'isEOF': 1,
   'docsExamined': 0,
   'alreadyHasObj': 0,
   'inputStage': {'stage': 'IXSCAN',
    'nReturned': 0,
    'executionTimeMillisEstimate': 0,
    'works': 1,
    'advanced': 0,
    'needTime': 0,
    'needYield': 0,
    'saveState': 0,
    'restoreState': 0,
    'isEOF': 1,
    'keyPattern': {'CustomerID': 1},
    'indexName': 'CustomerID_1',
    'isMultiKey': False,
    'multiKeyPaths': {'CustomerID': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'CustomerID': ['[17850, 17850]']},
    'keysExamined': 0,
    'seeks': 1,
    'dupsTested': 0,
    'dupsDropped': 0}},
  'allPlansExecution': []},
 'queryShapeHash': 'D38833FC80952E181A392FB1A2B8B0B26D0F2A7BBBA10FAA35AE18FB2F2CE81F',
 'command': {'find': 'fact_invoices',
  'filter': {'CustomerID': 17850},
  '$db': 'E-Commerce_Database'},
 'serverInfo': {'host': 'ac-udbcauk-shard-00-01.yk63ben.mongodb.net',
  'port': 27017,
  'version': '8.0.19',
  'gitVersion': 'cc1adb6b0875cc3003854ac2489818e459686f0b'},
 'serverParameters': {'internalQueryFacetBufferSizeBytes': 104857600,
  'internalQueryFacetMaxOutputDocSizeBytes': 104857600,
  'internalLookupStageIntermediateDocumentMaxSizeBytes': 16793600,
  'internalDocumentSourceGroupMaxMemoryBytes': 104857600,
  'internalQueryMaxBlockingSortMemoryUsageBytes': 33554432,
  'internalQueryProhibitBlockingMergeOnMongoS': 0,
  'internalQueryMaxAddToSetBytes': 104857600,
  'internalDocumentSourceSetWindowFieldsMaxMemoryBytes': 104857600,
  'internalQueryFrameworkControl': 'trySbeRestricted',
  'internalQueryPlannerIgnoreIndexWithCollationForRegex': 1},
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1771501031, 18),
  'signature': {'hash': b'\xaf\xb1\xb88\xf4#t\xf7X(\x07^\x07\xb1P\x16\xb5\x9eI\x88',
   'keyId': 7553293460007026689}},
 'operationTime': Timestamp(1771501031, 18)}

# **Task 6 - Analytics & Insights**

# Monthly Revenue Trends (Mandatory)

In [ ]:
from pyspark.sql.functions import year, month, sum

monthly_revenue = feature_df\
.groupBy(year("InvoiceDate").alias("Year"),
month("InvoiceDate").alias("Month")) \
.agg(sum("Revenue").alias("TotalRevenue")) \
.orderBy("Year", "Month")

monthly_revenue.show()

+----+-----+------------------+
|Year|Month|      TotalRevenue|
+----+-----+------------------+
|2010|   12| 480348.9500000096|
|2011|    1|495617.73000000825|
|2011|    2|379688.28000000597|
|2011|    3|492847.05000000395|
|2011|    4| 394154.6910000062|
|2011|    5| 563858.3699999976|
|2011|    6| 532562.5999999978|
|2011|    7| 518686.8709999991|
|2011|    8| 564883.8500000027|
|2011|    9| 849232.1319999929|
|2011|   10| 881896.7099999966|
|2011|   11|1013999.2999999967|
|2011|   12|477047.77000000223|
+----+-----+------------------+

#Top Products by Revenue

In [ ]:
top_products = feature_df \
.groupBy("StockCode", "Description") \
.agg(sum("Revenue").alias("TotalRevenue")) \
.orderBy("TotalRevenue", ascending=False) \
.limit(10)
top_products.show()

+---------+--------------------+------------------+
|StockCode|         Description|      TotalRevenue|
+---------+--------------------+------------------+
|    23843|PAPER CRAFT , LIT...|          168469.6|
|   85123A|WHITE HANGING HEA...|100392.09999999966|
|   85099B|JUMBO BAG RED RET...| 85040.54000000018|
|    23166|MEDIUM CERAMIC TO...| 81416.73000000001|
|    47566|       PARTY BUNTING| 68655.74999999993|
|    84879|ASSORTED COLOUR B...| 56413.03000000026|
|    23084|  RABBIT NIGHT LIGHT| 51251.23999999999|
|    79321|       CHILLI LIGHTS| 46078.20999999996|
|    22086|PAPER CHAIN KIT 5...| 42584.13000000009|
|    21137|BLACK RECORD COVE...| 39045.80000000002|
+---------+--------------------+------------------+

#Country-Level Sales Analysis

In [ ]:
country_sales = feature_df \
   .groupBy("Country") \
   .agg(sum("Revenue").alias("TotalRevenue")) \
  .orderBy("TotalRevenue", ascending=False)

country_sales.show()

+---------------+------------------+
|        Country|      TotalRevenue|
+---------------+------------------+
| United Kingdom|6334870.8040002035|
|    Netherlands| 266830.6399999999|
|           EIRE|213121.38999999917|
|        Germany|174099.74999999953|
|         France| 162311.0600000003|
|      Australia|126161.75999999995|
|          Spain| 47124.96000000015|
|    Switzerland| 45040.95000000003|
|         Sweden| 36568.42999999999|
|          Japan| 35897.46999999999|
|        Belgium|31353.250000000007|
|         Norway|27446.640000000007|
|       Portugal| 24435.97000000001|
|        Finland| 16361.28000000002|
|Channel Islands|15050.439999999999|
|        Denmark|13375.439999999995|
|          Italy|          13127.49|
|         Cyprus| 9497.159999999996|
|      Singapore| 7928.389999999998|
|        Austria| 7658.830000000006|
+---------------+------------------+
only showing top 20 rows

# Top Customers by Spend

In [ ]:
top_customers = feature_df \
    .groupBy("CustomerID") \
    .agg(sum("Revenue").alias("TotalSpend")) \
    .orderBy("TotalSpend", ascending=False) \
    .limit(10)

top_customers.show()

+----------+------------------+
|CustomerID|        TotalSpend|
+----------+------------------+
|     14646|262583.42000000004|
|     18102|         221190.81|
|     17450|180952.72999999998|
|     16446|          168472.5|
|     12415|113631.68000000002|
|     14911|112862.24999999968|
|     14156|          97088.98|
|     17511| 86658.71999999994|
|     12346|           77183.6|
|     16029| 71848.29000000001|
+----------+------------------+

# Return / Cancellation Patterns

In [ ]:
from pyspark.sql.functions import month, year, sum as spark_sum, col

# Using df_step2 as it reliably contains the 'is_return' column
monthly_returns = df_step2.filter(col("is_return") == True) \
    .withColumn("month", month("InvoiceDate")) \
    .withColumn("year", year("InvoiceDate")) \
    .groupBy("year", "month") \
    .agg(
        spark_sum("net_quantity").alias("returned_quantity")
    ) \
    .orderBy("year", "month")

monthly_returns.show(10)

+----+-----+-----------------+
|year|month|returned_quantity|
+----+-----+-----------------+
|2010|   12|            20088|
|2011|    1|            88750|
|2011|    2|             8706|
|2011|    3|            33078|
|2011|    4|            23078|
|2011|    5|            19034|
|2011|    6|            52714|
|2011|    7|            16423|
|2011|    8|            18817|
|2011|    9|            25599|
+----+-----+-----------------+
only showing top 10 rows

# Spark Query

In [ ]:
from pyspark.sql.functions import sum, col

monthly_revenue = feature_df.groupBy("Year", "Month") \
    .agg(sum(col("Quantity") * col("UnitPrice")).alias("TotalRevenue")) \
    .orderBy("Year", "Month")

monthly_revenue.show()

+----+-----+------------------+
|Year|Month|      TotalRevenue|
+----+-----+------------------+
|2010|   12| 480348.9500000096|
|2011|    1|495617.73000000825|
|2011|    2|379688.28000000597|
|2011|    3|492847.05000000395|
|2011|    4| 394154.6910000062|
|2011|    5| 563858.3699999976|
|2011|    6| 532562.5999999978|
|2011|    7| 518686.8709999991|
|2011|    8| 564883.8500000027|
|2011|    9| 849232.1319999929|
|2011|   10| 881896.7099999966|
|2011|   11|1013999.2999999967|
|2011|   12|477047.77000000223|
+----+-----+------------------+

# Top customers by spend

In [ ]:
top_customers = feature_df \
.groupBy("CustomerID") \
.agg(sum("Revenue").alias("TotalSpend")) \
.orderBy("TotalSpend", ascending=False) \
.limit(10)
top_customers.show()

+----------+------------------+
|CustomerID|        TotalSpend|
+----------+------------------+
|     14646|262583.42000000004|
|     18102|         221190.81|
|     17450|180952.72999999998|
|     16446|          168472.5|
|     12415|113631.68000000002|
|     14911|112862.24999999968|
|     14156|          97088.98|
|     17511| 86658.71999999994|
|     12346|           77183.6|
|     16029| 71848.29000000001|
+----------+------------------+

# Top Products by Revenue

In [ ]:
top_products = feature_df \
    .groupBy("StockCode", "Description") \
    .agg(sum("Revenue").alias("TotalRevenue")) \
    .orderBy("TotalRevenue", ascending=False) \
    .limit(10)

top_products.show()

+---------+--------------------+------------------+
|StockCode|         Description|      TotalRevenue|
+---------+--------------------+------------------+
|    23843|PAPER CRAFT , LIT...|          168469.6|
|   85123A|WHITE HANGING HEA...|100392.09999999966|
|   85099B|JUMBO BAG RED RET...| 85040.54000000018|
|    23166|MEDIUM CERAMIC TO...| 81416.73000000001|
|    47566|       PARTY BUNTING| 68655.74999999993|
|    84879|ASSORTED COLOUR B...| 56413.03000000026|
|    23084|  RABBIT NIGHT LIGHT| 51251.23999999999|
|    79321|       CHILLI LIGHTS| 46078.20999999996|
|    22086|PAPER CHAIN KIT 5...| 42584.13000000009|
|    21137|BLACK RECORD COVE...| 39045.80000000002|
+---------+--------------------+------------------+

# Country-Level Sales Analysis

In [ ]:
country_sales = feature_df \
    .groupBy("Country") \
    .agg(sum("Revenue").alias("TotalRevenue")) \
    .orderBy("TotalRevenue", ascending=False)

country_sales.show()

+---------------+------------------+
|        Country|      TotalRevenue|
+---------------+------------------+
| United Kingdom|6334870.8040002035|
|    Netherlands| 266830.6399999999|
|           EIRE|213121.38999999917|
|        Germany|174099.74999999953|
|         France| 162311.0600000003|
|      Australia|126161.75999999995|
|          Spain| 47124.96000000015|
|    Switzerland| 45040.95000000003|
|         Sweden| 36568.42999999999|
|          Japan| 35897.46999999999|
|        Belgium|31353.250000000007|
|         Norway|27446.640000000007|
|       Portugal| 24435.97000000001|
|        Finland| 16361.28000000002|
|Channel Islands|15050.439999999999|
|        Denmark|13375.439999999995|
|          Italy|          13127.49|
|         Cyprus| 9497.159999999996|
|      Singapore| 7928.389999999998|
|        Austria| 7658.830000000006|
+---------------+------------------+
only showing top 20 rows

# MongoDB Aggregation Pipelines

In [ ]:
from pymongo import MongoClient
from google.colab import userdata

mongo_uri = userdata.get("MONGO_URI")
client = MongoClient(mongo_uri)
db = client["E-Commerce_Database"]

# Monthly Revenue (fact_invoices)

In [121]:
pipeline = [
    {
        "$group": {
            "_id": {
                "year": "$invoice_year",
                "month": "$invoice_month"
            },
            "TotalRevenue": {"$sum": "$total_amount"},
            "InvoiceCount": {"$sum": 1}
        }
    },
    {"$sort": {"_id.year": 1, "_id.month": 1}}
]

list(db.fact_invoices.aggregate(pipeline))

[{'_id': {'year': 2010, 'month': 12},
  'TotalRevenue': 480348.95,
  'InvoiceCount': 1375},
 {'_id': {'year': 2011, 'month': 1},
  'TotalRevenue': 495617.73,
  'InvoiceCount': 965},
 {'_id': {'year': 2011, 'month': 2},
  'TotalRevenue': 379688.28,
  'InvoiceCount': 976},
 {'_id': {'year': 2011, 'month': 3},
  'TotalRevenue': 492847.05,
  'InvoiceCount': 1281},
 {'_id': {'year': 2011, 'month': 4},
  'TotalRevenue': 394154.691,
  'InvoiceCount': 1120},
 {'_id': {'year': 2011, 'month': 5},
  'TotalRevenue': 563858.37,
  'InvoiceCount': 1513},
 {'_id': {'year': 2011, 'month': 6},
  'TotalRevenue': 532562.6,
  'InvoiceCount': 1369},
 {'_id': {'year': 2011, 'month': 7},
  'TotalRevenue': 518686.871,
  'InvoiceCount': 1306},
 {'_id': {'year': 2011, 'month': 8},
  'TotalRevenue': 564883.85,
  'InvoiceCount': 1249},
 {'_id': {'year': 2011, 'month': 9},
  'TotalRevenue': 849232.132,
  'InvoiceCount': 1726},
 {'_id': {'year': 2011, 'month': 10},
  'TotalRevenue': 881896.7100000001,
  'InvoiceCount': 1881},
 {'_id': {'year': 2011, 'month': 11},
  'TotalRevenue': 1013999.3,
  'InvoiceCount': 2619},
 {'_id': {'year': 2011, 'month': 12},
  'TotalRevenue': 477047.77,
  'InvoiceCount': 770}]

# Top Customers (dim_customers)

In [ ]:
pipeline_top_customers = [
    {"$sort": {"Monetary": -1}},
    {"$limit": 10}
]

top_customers = list(db.dim_customers.aggregate(pipeline_top_customers))
print("Top 10 Customers:")
for customer in top_customers:
    print(customer)

Top 10 Customers:
{'_id': ObjectId('6996f5995a54dd1c90490507'), 'CustomerID': 13623, 'last_purchase_date': datetime.datetime(2011, 11, 9, 12, 0), 'frequency': 5, 'monetary': 438.84, 'recency': 30}
{'_id': ObjectId('6996f5995a54dd1c90490508'), 'CustomerID': 15957, 'last_purchase_date': datetime.datetime(2011, 11, 8, 12, 14), 'frequency': 1, 'monetary': 399.03999999999996, 'recency': 31}
{'_id': ObjectId('6996f5995a54dd1c90490503'), 'CustomerID': 13285, 'last_purchase_date': datetime.datetime(2011, 11, 16, 13, 19), 'frequency': 4, 'monetary': 2566.0200000000004, 'recency': 23}
{'_id': ObjectId('6996f5995a54dd1c90490506'), 'CustomerID': 13832, 'last_purchase_date': datetime.datetime(2011, 11, 20, 15, 36), 'frequency': 1, 'monetary': 52.199999999999996, 'recency': 19}
{'_id': ObjectId('6996f5995a54dd1c90490504'), 'CustomerID': 14570, 'last_purchase_date': datetime.datetime(2011, 3, 4, 10, 58), 'frequency': 2, 'monetary': 190.20999999999995, 'recency': 280}
{'_id': ObjectId('6996f5995a54dd1c90490502'), 'CustomerID': 15790, 'last_purchase_date': datetime.datetime(2011, 11, 29, 14, 53), 'frequency': 1, 'monetary': 158.54999999999998, 'recency': 10}
{'_id': ObjectId('6996f5995a54dd1c90490500'), 'CustomerID': 17389, 'last_purchase_date': datetime.datetime(2011, 12, 9, 9, 38), 'frequency': 30, 'monetary': 19642.080000000005, 'recency': 0}
{'_id': ObjectId('6996f5995a54dd1c904904ff'), 'CustomerID': 15619, 'last_purchase_date': datetime.datetime(2011, 11, 29, 8, 14), 'frequency': 1, 'monetary': 244.60000000000002, 'recency': 10}
{'_id': ObjectId('6996f5995a54dd1c90490501'), 'CustomerID': 15727, 'last_purchase_date': datetime.datetime(2011, 11, 23, 12, 36), 'frequency': 7, 'monetary': 4336.46, 'recency': 16}
{'_id': ObjectId('6996f5995a54dd1c90490505'), 'CustomerID': 16574, 'last_purchase_date': datetime.datetime(2011, 9, 29, 13, 39), 'frequency': 1, 'monetary': 435.5399999999999, 'recency': 71}

#  Products by Revenue (dim_products)

In [ ]:
pipeline_top_products = [
    {"$sort": {"TotalProductRevenue": -1}},
    {"$limit": 10}
]

top_products = list(db.dim_products.aggregate(pipeline_top_products))
print("Top 10 Products by Revenue:")
for product in top_products:
    print(product)

Top 10 Products by Revenue:
{'_id': ObjectId('6996f5af5a54dd1c904915da'), 'StockCode': '10135', 'Description': 'COLOURING PENCILS BROWN TUBE', 'total_quantity_sold': 1936, 'total_revenue': 1784.1899999999996}
{'_id': ObjectId('6996f5af5a54dd1c904915db'), 'StockCode': '11001', 'Description': 'ASSTD DESIGN RACING CAR PEN', 'total_quantity_sold': 1252, 'total_revenue': 1952.9999999999995}
{'_id': ObjectId('6996f5af5a54dd1c904915d6'), 'StockCode': '10124A', 'Description': 'SPOTS ON RED BOOKCOVER TAPE', 'total_quantity_sold': 16, 'total_revenue': 6.720000000000001}
{'_id': ObjectId('6996f5af5a54dd1c904915d9'), 'StockCode': '10133', 'Description': 'COLOURING PENCILS BROWN TUBE', 'total_quantity_sold': 2373, 'total_revenue': 1138.9899999999998}
{'_id': ObjectId('6996f5af5a54dd1c904915d7'), 'StockCode': '10124G', 'Description': 'ARMY CAMO BOOKCOVER TAPE', 'total_quantity_sold': 17, 'total_revenue': 7.14}
{'_id': ObjectId('6996f5af5a54dd1c904915d5'), 'StockCode': '10123C', 'Description': 'HEARTS WRAPPING TAPE ', 'total_quantity_sold': 5, 'total_revenue': 3.25}
{'_id': ObjectId('6996f5af5a54dd1c904915d3'), 'StockCode': '10080', 'Description': 'GROOVY CACTUS INFLATABLE', 'total_quantity_sold': 291, 'total_revenue': 114.41}
{'_id': ObjectId('6996f5af5a54dd1c904915d2'), 'StockCode': '10002', 'Description': 'INFLATABLE POLITICAL GLOBE ', 'total_quantity_sold': 823, 'total_revenue': 699.55}
{'_id': ObjectId('6996f5af5a54dd1c904915d4'), 'StockCode': '10120', 'Description': 'DOGGY RUBBER', 'total_quantity_sold': 192, 'total_revenue': 40.32000000000001}
{'_id': ObjectId('6996f5af5a54dd1c904915d8'), 'StockCode': '10125', 'Description': 'MINI FUNKY DESIGN TAPES', 'total_quantity_sold': 1225, 'total_revenue': 929.4499999999999}

# Country Distribution of Products (dim_products)

In [126]:
pipeline = [
    {"$unwind": "$line_items"},
    {"$match": {"line_items.quantity": {"$gt": 0}}},
    {
        "$group": {
            "_id": {
                "product_id": "$line_items.product_id",
                "country": "$country"
            },
            "QuantitySold": {"$sum": "$line_items.quantity"},
            "Revenue": {"$sum": "$line_items.line_total"}
        }
    },
    {"$sort": {"QuantitySold": -1}}
]

list(db.fact_invoices.aggregate(pipeline))

[{'_id': {'product_id': '23843', 'country': 'United Kingdom'},
  'QuantitySold': 80995,
  'Revenue': 168469.6},
 {'_id': {'product_id': '23166', 'country': 'United Kingdom'},
  'QuantitySold': 76919,
  'Revenue': 80291.44},
 {'_id': {'product_id': '84077', 'country': 'United Kingdom'},
  'QuantitySold': 49086,
  'Revenue': 12109.96},
 {'_id': {'product_id': '22197', 'country': 'United Kingdom'},
  'QuantitySold': 45609,
  'Revenue': 34409.53},
 {'_id': {'product_id': '85099B', 'country': 'United Kingdom'},
  'QuantitySold': 41878,
  'Revenue': 77191.33},
 {'_id': {'product_id': '85123A', 'country': 'United Kingdom'},
  'QuantitySold': 34687,
  'Revenue': 94960.85},
 {'_id': {'product_id': '84879', 'country': 'United Kingdom'},
  'QuantitySold': 32628,
  'Revenue': 52228.68},
 {'_id': {'product_id': '22616', 'country': 'United Kingdom'},
  'QuantitySold': 24321,
  'Revenue': 6928.65},
 {'_id': {'product_id': '17003', 'country': 'United Kingdom'},
  'QuantitySold': 22675,
  'Revenue': 5891.49},
 {'_id': {'product_id': '21212', 'country': 'United Kingdom'},
  'QuantitySold': 22442,
  'Revenue': 10989.6},
 {'_id': {'product_id': '22178', 'country': 'United Kingdom'},
  'QuantitySold': 21876,
  'Revenue': 27973.96},
 {'_id': {'product_id': '21977', 'country': 'United Kingdom'},
  'QuantitySold': 19959,
  'Revenue': 9480.35},
 {'_id': {'product_id': '15036', 'country': 'United Kingdom'},
  'QuantitySold': 19116,
  'Revenue': 14014.52},
 {'_id': {'product_id': '22386', 'country': 'United Kingdom'},
  'QuantitySold': 18075,
  'Revenue': 33389.52},
 {'_id': {'product_id': '23203', 'country': 'United Kingdom'},
  'QuantitySold': 16972,
  'Revenue': 32843.16},
 {'_id': {'product_id': '21915', 'country': 'United Kingdom'},
  'QuantitySold': 16895,
  'Revenue': 19058.73},
 {'_id': {'product_id': '22469', 'country': 'United Kingdom'},
  'QuantitySold': 16354,
  'Revenue': 27549.989999999998},
 {'_id': {'product_id': '84946', 'country': 'United Kingdom'},
  'QuantitySold': 16220,
  'Revenue': 18923.170000000002},
 {'_id': {'product_id': '85099F', 'country': 'United Kingdom'},
  'QuantitySold': 15765,
  'Revenue': 28749.1},
 {'_id': {'product_id': '22086', 'country': 'United Kingdom'},
  'QuantitySold': 14772,
  'Revenue': 40392.08},
 {'_id': {'product_id': '84755', 'country': 'United Kingdom'},
  'QuantitySold': 14739,
  'Revenue': 9074.11},
 {'_id': {'product_id': '22693', 'country': 'United Kingdom'},
  'QuantitySold': 14668,
  'Revenue': 15754.76},
 {'_id': {'product_id': '47566', 'country': 'United Kingdom'},
  'QuantitySold': 13968,
  'Revenue': 62920.8},
 {'_id': {'product_id': '22492', 'country': 'United Kingdom'},
  'QuantitySold': 13583,
  'Revenue': 8437.19},
 {'_id': {'product_id': '22151', 'country': 'United Kingdom'},
  'QuantitySold': 13475,
  'Revenue': 5359.349999999999},
 {'_id': {'product_id': '20725', 'country': 'United Kingdom'},
  'QuantitySold': 13373,
  'Revenue': 21333.85},
 {'_id': {'product_id': '84991', 'country': 'United Kingdom'},
  'QuantitySold': 13280,
  'Revenue': 6521.02},
 {'_id': {'product_id': '16014', 'country': 'United Kingdom'},
  'QuantitySold': 13028,
  'Revenue': 4209.76},
 {'_id': {'product_id': '20668', 'country': 'United Kingdom'},
  'QuantitySold': 12402,
  'Revenue': 1371.1200000000001},
 {'_id': {'product_id': '85099C', 'country': 'United Kingdom'},
  'QuantitySold': 12121,
  'Revenue': 22402.38},
 {'_id': {'product_id': '71459', 'country': 'United Kingdom'},
  'QuantitySold': 12017,
  'Revenue': 9339.65},
 {'_id': {'product_id': '23199', 'country': 'United Kingdom'},
  'QuantitySold': 11819,
  'Revenue': 22441.12},
 {'_id': {'product_id': '21790', 'country': 'United Kingdom'},
  'QuantitySold': 11789,
  'Revenue': 9272.869999999999},
 {'_id': {'product_id': '23084', 'country': 'United Kingdom'},
  'QuantitySold': 11716,
  'Revenue': 22469.16},
 {'_id': {'product_id': '21213', 'country': 'United Kingdom'},
  'QuantitySold': 11701,
  'Revenue': 5587.150000000001},
 {'_id': {'product_id': '21175', 'country': 'United Kingdom'},
  'QuantitySold': 11573,
  'Revenue': 25111.32},
 {'_id': {'product_id': '22952', 'country': 'United Kingdom'},
  'QuantitySold': 11460,
  'Revenue': 5881.8},
 {'_id': {'product_id': '22998', 'country': 'United Kingdom'},
  'QuantitySold': 11397,
  'Revenue': 4537.16},
 {'_id': {'product_id': '23201', 'country': 'United Kingdom'},
  'QuantitySold': 11263,
  'Revenue': 21737.14},
 {'_id': {'product_id': '21137', 'country': 'United Kingdom'},
  'QuantitySold': 11053,
  'Revenue': 37835.840000000004},
 {'_id': {'product_id': '21181', 'country': 'United Kingdom'},
  'QuantitySold': 11052,
  'Revenue': 22161.820000000003},
 {'_id': {'product_id': '22961', 'country': 'United Kingdom'},
  'QuantitySold': 11026,
  'Revenue': 15520.699999999999},
 {'_id': {'product_id': '21931', 'country': 'United Kingdom'},
  'QuantitySold': 10832,
  'Revenue': 20435.15},
 {'_id': {'product_id': '23209', 'country': 'United Kingdom'},
  'QuantitySold': 10408,
  'Revenue': 16794.16},
 {'_id': {'product_id': '84568', 'country': 'United Kingdom'},
  'QuantitySold': 10176,
  'Revenue': 1906.56},
 {'_id': {'product_id': '22659', 'country': 'United Kingdom'},
  'QuantitySold': 9975,
  'Revenue': 17305.57},
 {'_id': {'product_id': '22969', 'country': 'United Kingdom'},
  'QuantitySold': 9932,
  'Revenue': 14663.199999999999},
 {'_id': {'product_id': '22993', 'country': 'United Kingdom'},
  'QuantitySold': 9921,
  'Revenue': 12046.62},
 {'_id': {'product_id': '84978', 'country': 'United Kingdom'},
  'QuantitySold': 9917,
  'Revenue': 11482.77},
 {'_id': {'product_id': '21326', 'country': 'United Kingdom'},
  'QuantitySold': 9881,
  'Revenue': 5948.650000000001},
 {'_id': {'product_id': '20727', 'country': 'United Kingdom'},
  'QuantitySold': 9859,
  'Revenue': 15801.75},
 {'_id': {'product_id': '23202', 'country': 'United Kingdom'},
  'QuantitySold': 9846,
  'Revenue': 19187.23},
 {'_id': {'product_id': '84992', 'country': 'United Kingdom'},
  'QuantitySold': 9740,
  'Revenue': 4693.0},
 {'_id': {'product_id': '21975', 'country': 'United Kingdom'},
  'QuantitySold': 9733,
  'Revenue': 4770.13},
 {'_id': {'product_id': '22411', 'country': 'United Kingdom'},
  'QuantitySold': 9731,
  'Revenue': 18658.420000000002},
 {'_id': {'product_id': '84945', 'country': 'United Kingdom'},
  'QuantitySold': 9727,
  'Revenue': 7825.21},
 {'_id': {'product_id': '21108', 'country': 'United Kingdom'},
  'QuantitySold': 9700,
  'Revenue': 16759.91},
 {'_id': {'product_id': '23310', 'country': 'United Kingdom'},
  'QuantitySold': 9587,
  'Revenue': 3970.35},
 {'_id': {'product_id': '22470', 'country': 'United Kingdom'},
  'QuantitySold': 9512,
  'Revenue': 28287.9},
 {'_id': {'product_id': '79321', 'country': 'United Kingdom'},
  'QuantitySold': 9479,
  'Revenue': 45297.01},
 {'_id': {'product_id': '22383', 'country': 'United Kingdom'},
  'QuantitySold': 9465,
  'Revenue': 15249.65},
 {'_id': {'product_id': '20971', 'country': 'United Kingdom'},
  'QuantitySold': 9454,
  'Revenue': 10750.0},
 {'_id': {'product_id': '20713', 'country': 'United Kingdom'},
  'QuantitySold': 9322,
  'Revenue': 16974.56},
 {'_id': {'product_id': '21498', 'country': 'United Kingdom'},
  'QuantitySold': 9272,
  'Revenue': 3785.2400000000002},
 {'_id': {'product_id': '22577', 'country': 'United Kingdom'},
  'QuantitySold': 9139,
  'Revenue': 3173.99},
 {'_id': {'product_id': '23206', 'country': 'United Kingdom'},
  'QuantitySold': 9061,
  'Revenue': 14366.65},
 {'_id': {'product_id': '21928', 'country': 'United Kingdom'},
  'QuantitySold': 9055,
  'Revenue': 16827.96},
 {'_id': {'product_id': '21703', 'country': 'United Kingdom'},
  'QuantitySold': 8981,
  'Revenue': 3309.13},
 {'_id': {'product_id': '21080', 'country': 'United Kingdom'},
  'QuantitySold': 8847,
  'Revenue': 6903.89},
 {'_id': {'product_id': '21929', 'country': 'United Kingdom'},
  'QuantitySold': 8823,
  'Revenue': 16435.5},
 {'_id': {'product_id': '21166', 'country': 'United Kingdom'},
  'QuantitySold': 8771,
  'Revenue': 17573.41},
 {'_id': {'product_id': '84212', 'country': 'United Kingdom'},
  'QuantitySold': 8713,
  'Revenue': 4173.05},
 {'_id': {'product_id': '22910', 'country': 'United Kingdom'},
  'QuantitySold': 8681,
  'Revenue': 23690.870000000003},
 {'_id': {'product_id': '21232', 'country': 'United Kingdom'},
  'QuantitySold': 8615,
  'Revenue': 10117.07},
 {'_id': {'product_id': '22578', 'country': 'United Kingdom'},
  'QuantitySold': 8611,
  'Revenue': 2801.95},
 {'_id': {'product_id': '20728', 'country': 'United Kingdom'},
  'QuantitySold': 8600,
  'Revenue': 13852.68},
 {'_id': {'product_id': '20724', 'country': 'United Kingdom'},
  'QuantitySold': 8593,
  'Revenue': 6893.25},
 {'_id': {'product_id': '22988', 'country': 'United Kingdom'},
  'QuantitySold': 8589,
  'Revenue': 9860.220000000001},
 {'_id': {'product_id': '84947', 'country': 'United Kingdom'},
  'QuantitySold': 8183,
  'Revenue': 9226.84},
 {'_id': {'product_id': '21497', 'country': 'United Kingdom'},
  'QuantitySold': 8175,
  'Revenue': 3251.5},
 {'_id': {'product_id': '22610', 'country': 'United Kingdom'},
  'QuantitySold': 8174,
  'Revenue': 2135.18},
 {'_id': {'product_id': '21985', 'country': 'United Kingdom'},
  'QuantitySold': 8144,
  'Revenue': 2418.64},
 {'_id': {'product_id': '22189', 'country': 'United Kingdom'},
  'QuantitySold': 8086,
  'Revenue': 22276.34},
 {'_id': {'product_id': '22384', 'country': 'United Kingdom'},
  'QuantitySold': 8079,
  'Revenue': 13030.75},
 {'_id': {'product_id': '23307', 'country': 'United Kingdom'},
  'QuantitySold': 8077,
  'Revenue': 4159.1900000000005},
 {'_id': {'product_id': '23344', 'country': 'United Kingdom'},
  'QuantitySold': 8065,
  'Revenue': 15958.2},
 {'_id': {'product_id': '22457', 'country': 'United Kingdom'},
  'QuantitySold': 8061,
  'Revenue': 23067.070000000003},
 {'_id': {'product_id': '82482', 'country': 'United Kingdom'},
  'QuantitySold': 7993,
  'Revenue': 19273.0},
 {'_id': {'product_id': '85152', 'country': 'United Kingdom'},
  'QuantitySold': 7946,
  'Revenue': 15105.310000000001},
 {'_id': {'product_id': '84970S', 'country': 'United Kingdom'},
  'QuantitySold': 7784,
  'Revenue': 6307.969999999999},
 {'_id': {'product_id': '23077', 'country': 'United Kingdom'},
  'QuantitySold': 7682,
  'Revenue': 9375.7},
 {'_id': {'product_id': '16045', 'country': 'United Kingdom'},
  'QuantitySold': 7600,
  'Revenue': 320.0},
 {'_id': {'product_id': '23301', 'country': 'United Kingdom'},
  'QuantitySold': 7530,
  'Revenue': 12146.98},
 {'_id': {'product_id': '84347', 'country': 'United Kingdom'},
  'QuantitySold': 7493,
  'Revenue': 16590.82},
 {'_id': {'product_id': '22865', 'country': 'United Kingdom'},
  'QuantitySold': 7468,
  'Revenue': 14950.930000000002},
 {'_id': {'product_id': '22699', 'country': 'United Kingdom'},
  'QuantitySold': 7394,
  'Revenue': 20193.3},
 {'_id': {'product_id': '21733', 'country': 'United Kingdom'},
  'QuantitySold': 7239,
  'Revenue': 21194.690000000002},
 {'_id': {'product_id': '23232', 'country': 'United Kingdom'},
  'QuantitySold': 7225,
  'Revenue': 2938.5},
 {'_id': {'product_id': '21891', 'country': 'United Kingdom'},
  'QuantitySold': 7123,
  'Revenue': 8943.63},
 {'_id': {'product_id': '22791', 'country': 'United Kingdom'},
  'QuantitySold': 7108,
  'Revenue': 8093.89},
 {'_id': {'product_id': '22741', 'country': 'United Kingdom'},
  'QuantitySold': 7068,
  'Revenue': 5939.94},
 {'_id': {'product_id': '22560', 'country': 'United Kingdom'},
  'QuantitySold': 7006,
  'Revenue': 8188.27},
 {'_id': {'product_id': '22385', 'country': 'United Kingdom'},
  'QuantitySold': 6932,
  'Revenue': 12877.48},
 {'_id': {'product_id': '22355', 'country': 'United Kingdom'},
  'QuantitySold': 6926,
  'Revenue': 5553.0},
 {'_id': {'product_id': '22382', 'country': 'United Kingdom'},
  'QuantitySold': 6920,
  'Revenue': 11264.4},
 {'_id': {'product_id': '21787', 'country': 'United Kingdom'},
  'QuantitySold': 6880,
  'Revenue': 5572.48},
 {'_id': {'product_id': 'M', 'country': 'United Kingdom'},
  'QuantitySold': 6839,
  'Revenue': 3564.83},
 {'_id': {'product_id': '75049L', 'country': 'United Kingdom'},
  'QuantitySold': 6809,
  'Revenue': 6092.049999999999},
 {'_id': {'product_id': '22077', 'country': 'United Kingdom'},
  'QuantitySold': 6693,
  'Revenue': 11779.789999999999},
 {'_id': {'product_id': '71477', 'country': 'United Kingdom'},
  'QuantitySold': 6590,
  'Revenue': 19823.82},
 {'_id': {'product_id': '23298', 'country': 'United Kingdom'},
  'QuantitySold': 6579,
  'Revenue': 30764.250000000004},
 {'_id': {'product_id': '23309', 'country': 'United Kingdom'},
  'QuantitySold': 6503,
  'Revenue': 3118.25},
 {'_id': {'product_id': '20972', 'country': 'United Kingdom'},
  'QuantitySold': 6414,
  'Revenue': 7836.6},
 {'_id': {'product_id': '15034', 'country': 'United Kingdom'},
  'QuantitySold': 6227,
  'Revenue': 670.1800000000001},
 {'_id': {'product_id': '21982', 'country': 'United Kingdom'},
  'QuantitySold': 6209,
  'Revenue': 1787.83},
 {'_id': {'product_id': '22909', 'country': 'United Kingdom'},
  'QuantitySold': 6195,
  'Revenue': 5070.87},
 {'_id': {'product_id': '23300', 'country': 'United Kingdom'},
  'QuantitySold': 6165,
  'Revenue': 9735.689999999999},
 {'_id': {'product_id': '23207', 'country': 'United Kingdom'},
  'QuantitySold': 6157,
  'Revenue': 9904.01},
 {'_id': {'product_id': '21731', 'country': 'United Kingdom'},
  'QuantitySold': 6128,
  'Revenue': 9438.96},
 {'_id': {'product_id': '22960', 'country': 'United Kingdom'},
  'QuantitySold': 6098,
  'Revenue': 24493.48},
 {'_id': {'product_id': '22727', 'country': 'United Kingdom'},
  'QuantitySold': 6055,
  'Revenue': 21624.7},
 {'_id': {'product_id': '22065', 'country': 'United Kingdom'},
  'QuantitySold': 6042,
  'Revenue': 2698.64},
 {'_id': {'product_id': '20974', 'country': 'United Kingdom'},
  'QuantitySold': 6020,
  'Revenue': 3771.0000000000005},
 {'_id': {'product_id': '82494L', 'country': 'United Kingdom'},
  'QuantitySold': 6006,
  'Revenue': 16839.670000000002},
 {'_id': {'product_id': '21499', 'country': 'United Kingdom'},
  'QuantitySold': 5975,
  'Revenue': 2409.5},
 {'_id': {'product_id': '23230', 'country': 'United Kingdom'},
  'QuantitySold': 5975,
  'Revenue': 2477.5},
 {'_id': {'product_id': '22558', 'country': 'United Kingdom'},
  'QuantitySold': 5959,
  'Revenue': 9029.31},
 {'_id': {'product_id': '23076', 'country': 'United Kingdom'},
  'QuantitySold': 5952,
  'Revenue': 7359.36},
 {'_id': {'product_id': '82583', 'country': 'United Kingdom'},
  'QuantitySold': 5939,
  'Revenue': 11922.54},
 {'_id': {'product_id': '22666', 'country': 'United Kingdom'},
  'QuantitySold': 5919,
  'Revenue': 16819.57},
 {'_id': {'product_id': '84692', 'country': 'United Kingdom'},
  'QuantitySold': 5902,
  'Revenue': 2430.15},
 {'_id': {'product_id': '23200', 'country': 'United Kingdom'},
  'QuantitySold': 5888,
  'Revenue': 11372.64},
 {'_id': {'product_id': '20726', 'country': 'United Kingdom'},
  'QuantitySold': 5888,
  'Revenue': 9532.56},
 {'_id': {'product_id': '16161P', 'country': 'United Kingdom'},
  'QuantitySold': 5851,
  'Revenue': 2445.42},
 {'_id': {'product_id': '21791', 'country': 'United Kingdom'},
  'QuantitySold': 5834,
  'Revenue': 6963.56},
 {'_id': {'product_id': '18007', 'country': 'United Kingdom'},
  'QuantitySold': 5808,
  'Revenue': 375.12},
 {'_id': {'product_id': '22866', 'country': 'United Kingdom'},
  'QuantitySold': 5807,
  'Revenue': 11643.660000000002},
 {'_id': {'product_id': '22379', 'country': 'United Kingdom'},
  'QuantitySold': 5725,
  'Revenue': 11217.63},
 {'_id': {'product_id': '22147', 'country': 'United Kingdom'},
  'QuantitySold': 5709,
  'Revenue': 7766.849999999999},
 {'_id': {'product_id': '23078', 'country': 'United Kingdom'},
  'QuantitySold': 5603,
  'Revenue': 6872.71},
 {'_id': {'product_id': '23208', 'country': 'United Kingdom'},
  'QuantitySold': 5575,
  'Revenue': 8953.95},
 {'_id': {'product_id': '22149', 'country': 'United Kingdom'},
  'QuantitySold': 5572,
  'Revenue': 10938.59},
 {'_id': {'product_id': '22090', 'country': 'United Kingdom'},
  'QuantitySold': 5562,
  'Revenue': 15178.740000000002},
 {'_id': {'product_id': '22867', 'country': 'United Kingdom'},
  'QuantitySold': 5559,
  'Revenue': 11225.230000000001},
 {'_id': {'product_id': '22629', 'country': 'United Kingdom'},
  'QuantitySold': 5545,
  'Revenue': 10227.689999999999},
 {'_id': {'product_id': '21829', 'country': 'United Kingdom'},
  'QuantitySold': 5526,
  'Revenue': 1136.37},
 {'_id': {'product_id': '21495', 'country': 'United Kingdom'},
  'QuantitySold': 5525,
  'Revenue': 2240.5},
 {'_id': {'product_id': '82600', 'country': 'United Kingdom'},
  'QuantitySold': 5504,
  'Revenue': 11442.480000000001},
 {'_id': {'product_id': '22440', 'country': 'United Kingdom'},
  'QuantitySold': 5493,
  'Revenue': 2084.46},
 {'_id': {'product_id': '40016', 'country': 'United Kingdom'},
  'QuantitySold': 5474,
  'Revenue': 1833.96},
 {'_id': {'product_id': '23231', 'country': 'United Kingdom'},
  'QuantitySold': 5425,
  'Revenue': 2262.5},
 {'_id': {'product_id': '20723', 'country': 'United Kingdom'},
  'QuantitySold': 5418,
  'Revenue': 4423.3},
 {'_id': {'product_id': '22697', 'country': 'United Kingdom'},
  'QuantitySold': 5410,
  'Revenue': 15018.140000000001},
 {'_id': {'product_id': '16156S', 'country': 'United Kingdom'},
  'QuantitySold': 5400,
  'Revenue': 2163.0},
 {'_id': {'product_id': '21500', 'country': 'United Kingdom'},
  'QuantitySold': 5400,
  'Revenue': 2194.0},
 {'_id': {'product_id': '22771', 'country': 'United Kingdom'},
  'QuantitySold': 5381,
  'Revenue': 6458.17},
 {'_id': {'product_id': '22966', 'country': 'United Kingdom'},
  'QuantitySold': 5354,
  'Revenue': 6476.79},
 {'_id': {'product_id': '72741', 'country': 'United Kingdom'},
  'QuantitySold': 5342,
  'Revenue': 7148.3},
 {'_id': {'product_id': '84836', 'country': 'United Kingdom'},
  'QuantitySold': 5338,
  'Revenue': 6625.97},
 {'_id': {'product_id': '20712', 'country': 'United Kingdom'},
  'QuantitySold': 5284,
  'Revenue': 10033.66},
 {'_id': {'product_id': '22740', 'country': 'United Kingdom'},
  'QuantitySold': 5233,
  'Revenue': 4292.049999999999},
 {'_id': {'product_id': '22720', 'country': 'United Kingdom'},
  'QuantitySold': 5224,
  'Revenue': 25001.84},
 {'_id': {'product_id': '21231', 'country': 'United Kingdom'},
  'QuantitySold': 5196,
  'Revenue': 6201.97},
 {'_id': {'product_id': '22356', 'country': 'United Kingdom'},
  'QuantitySold': 5180,
  'Revenue': 4215.54},
 {'_id': {'product_id': '20975', 'country': 'United Kingdom'},
  'QuantitySold': 5158,
  'Revenue': 3293.9},
 {'_id': {'product_id': '22030', 'country': 'United Kingdom'},
  'QuantitySold': 5133,
  'Revenue': 2039.19},
 {'_id': {'product_id': '21930', 'country': 'United Kingdom'},
  'QuantitySold': 5119,
  'Revenue': 9799.960000000001},
 {'_id': {'product_id': '23355', 'country': 'United Kingdom'},
  'QuantitySold': 5109,
  'Revenue': 23331.15},
 {'_id': {'product_id': '85175', 'country': 'United Kingdom'},
  'QuantitySold': 5105,
  'Revenue': 2031.62},
 {'_id': {'product_id': '22621', 'country': 'United Kingdom'},
  'QuantitySold': 5082,
  'Revenue': 8054.819999999999},
 {'_id': {'product_id': '23171', 'country': 'United Kingdom'},
  'QuantitySold': 5048,
  'Revenue': 7756.599999999999},
 {'_id': {'product_id': '21914', 'country': 'United Kingdom'},
  'QuantitySold': 5037,
  'Revenue': 6363.18},
 {'_id': {'product_id': '21980', 'country': 'United Kingdom'},
  'QuantitySold': 5032,
  'Revenue': 1548.12},
 {'_id': {'product_id': '22609', 'country': 'United Kingdom'},
  'QuantitySold': 5024,
  'Revenue': 1102.8799999999999},
 {'_id': {'product_id': '23170', 'country': 'United Kingdom'},
  'QuantitySold': 4997,
  'Revenue': 7779.089999999999},
 {'_id': {'product_id': '22467', 'country': 'United Kingdom'},
  'QuantitySold': 4990,
  'Revenue': 11591.45},
 {'_id': {'product_id': '84970L', 'country': 'United Kingdom'},
  'QuantitySold': 4979,
  'Revenue': 5023.45},

In [123]:
db.dim_products.find_one()

{'_id': ObjectId('6996f5af5a54dd1c904915d2'),
 'StockCode': '10002',
 'Description': 'INFLATABLE POLITICAL GLOBE ',
 'total_quantity_sold': 823,
 'total_revenue': 699.55}

# Customer Segment Distribution (dim_customers)

In [ ]:
pipeline = [
    {
        "$group": {
            "_id": "$CustomerSegment",
            "Count": {"$sum": 1}
        }
    }
]

list(db.dim_customers.aggregate(pipeline))

[{'_id': None, 'Count': 4306}]

# **Task 7 Performance Optimization**

# Partitioning Strategies

Check partitions before optimization

In [ ]:
feature_df.rdd.getNumPartitions()

2

Apply repartitioning using CustomerID

In [ ]:
optimized_df = feature_df.repartition(8, "CustomerID")
optimized_df.rdd.getNumPartitions()

8

# Caching and persistence Optimization

Without Cache (Normal Execution)

In [ ]:
feature_df.groupBy("Country").count().show()
feature_df.groupBy("CustomerID").count().show()

+------------------+-----+
|           Country|count|
+------------------+-----+
|            Sweden|  419|
|         Singapore|  202|
|           Germany| 7955|
|               RSA|   45|
|            France| 7388|
|            Greece|  128|
|European Community|   47|
|           Belgium| 1737|
|           Finland|  582|
|             Malta|   93|
|       Unspecified|  212|
|             Italy|  626|
|              EIRE| 6261|
|         Lithuania|   35|
|            Norway|  930|
|             Spain| 2145|
|           Denmark|  343|
|           Iceland|  175|
|            Israel|  218|
|   Channel Islands|  577|
+------------------+-----+
only showing top 20 rows

+----------+-----+
|CustomerID|count|
+----------+-----+
|     13285|  178|
|     13623|   67|
|     13832|    3|
|     15619|    2|
|     15727|  284|
|     15790|   29|
|     15957|   40|
|     16386|   78|
|     17389|  142|
|     12940|   76|
|     16861|    6|
|     17420|   25|
|     17679|   24|
|     16574|   27|
|     16503|   66|
|     18024|   19|
|     14570|   26|
|     12471|  410|
|     12626|  272|
|     14075|   41|
+----------+-----+
only showing top 20 rows

Apply Cache

In [ ]:
feature_df.cache()
feature_df.groupBy("Country").count().show()
feature_df.groupBy("CustomerID").count().show()

+------------------+-----+
|           Country|count|
+------------------+-----+
|            Sweden|  419|
|         Singapore|  202|
|           Germany| 7955|
|               RSA|   45|
|            France| 7388|
|            Greece|  128|
|European Community|   47|
|           Belgium| 1737|
|           Finland|  582|
|             Malta|   93|
|       Unspecified|  212|
|             Italy|  626|
|              EIRE| 6261|
|         Lithuania|   35|
|            Norway|  930|
|             Spain| 2145|
|           Denmark|  343|
|           Iceland|  175|
|            Israel|  218|
|   Channel Islands|  577|
+------------------+-----+
only showing top 20 rows

+----------+-----+
|CustomerID|count|
+----------+-----+
|     13285|  178|
|     13623|   67|
|     13832|    3|
|     15619|    2|
|     15727|  284|
|     15790|   29|
|     15957|   40|
|     16386|   78|
|     17389|  142|
|     12940|   76|
|     16861|    6|
|     17420|   25|
|     17679|   24|
|     16574|   27|
|     16503|   66|
|     18024|   19|
|     14570|   26|
|     12471|  410|
|     12626|  272|
|     14075|   41|
+----------+-----+
only showing top 20 rows

After Cache (Faster Execution)

In [ ]:
feature_df.groupBy("Country").count().show()
feature_df.groupBy("CustomerID").count().show()

+------------------+-----+
|           Country|count|
+------------------+-----+
|            Sweden|  419|
|         Singapore|  202|
|           Germany| 7955|
|               RSA|   45|
|            France| 7388|
|            Greece|  128|
|European Community|   47|
|           Belgium| 1737|
|           Finland|  582|
|             Malta|   93|
|       Unspecified|  212|
|             Italy|  626|
|              EIRE| 6261|
|         Lithuania|   35|
|            Norway|  930|
|             Spain| 2145|
|           Denmark|  343|
|           Iceland|  175|
|            Israel|  218|
|   Channel Islands|  577|
+------------------+-----+
only showing top 20 rows

+----------+-----+
|CustomerID|count|
+----------+-----+
|     13285|  178|
|     13623|   67|
|     13832|    3|
|     15619|    2|
|     15727|  284|
|     15790|   29|
|     15957|   40|
|     16386|   78|
|     17389|  142|
|     12940|   76|
|     16861|    6|
|     17420|   25|
|     17679|   24|
|     16574|   27|
|     16503|   66|
|     18024|   19|
|     14570|   26|
|     12471|  410|
|     12626|  272|
|     14075|   41|
+----------+-----+
only showing top 20 rows

# Broadcast Join Optimization

Without Broadcast Join

With Broadcast Join (Optimized)

In [ ]:
joined_df = feature_df.join(df_customers, "CustomerID")
joined_df.show()

+----------+---------+---------+--------------------+--------+-------------------+---------+--------------+------------------+-----------+--------------+------------+-----------+-------+---------+------------------+-------------------------+----------+----------+-------------+-----------------+----+-----+-------------------+---------+------------------+-------+
|CustomerID|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|       Country|           Revenue|InvoiceHour|InvoiceWeekday|InvoiceMonth|InvoiceYear|Recency|Frequency|          Monetary|CumulativeCustomerRevenue|BasketSize|TotalItems|BasketRevenue|   AvgBasketValue|Year|Month| last_purchase_date|frequency|          monetary|recency|
+----------+---------+---------+--------------------+--------+-------------------+---------+--------------+------------------+-----------+--------------+------------+-----------+-------+---------+------------------+-------------------------+----------+----------+-------------+-----------------+----+-----+-------------------+---------+------------------+-------+
|     13285|   576771|    22996|TRAVEL CARD WALLE...|      24|2011-11-16 13:19:00|     0.42|United Kingdom|             10.08|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1853.5799999999995|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23312|VINTAGE CHRISTMAS...|       4|2011-11-16 13:19:00|     4.15|United Kingdom|              16.6|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1870.1799999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    20727|LUNCH BAG  BLACK ...|      10|2011-11-16 13:19:00|     1.65|United Kingdom|              16.5|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1886.6799999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23204|CHARLOTTE BAG APP...|      10|2011-11-16 13:19:00|     0.85|United Kingdom|               8.5|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1895.1799999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23582|VINTAGE DOILY JUM...|      10|2011-11-16 13:19:00|     2.08|United Kingdom|              20.8|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1915.9799999999993|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    21889|WOODEN BOX OF DOM...|      12|2011-11-16 13:19:00|     1.25|United Kingdom|              15.0|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1930.9799999999993|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23354|6 GIFT TAGS 50'S ...|      12|2011-11-16 13:19:00|     0.83|United Kingdom| 9.959999999999999|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1940.9399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    22661|CHARLOTTE BAG DOL...|      10|2011-11-16 13:19:00|     0.85|United Kingdom|               8.5|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1949.4399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23266|SET OF 3 WOODEN S...|      12|2011-11-16 13:19:00|     1.25|United Kingdom|              15.0|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1964.4399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23373|VINTAGE CHRISTMAS...|      10|2011-11-16 13:19:00|     0.82|United Kingdom|               8.2|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1972.6399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    22959|WRAP CHRISTMAS VI...|      25|2011-11-16 13:19:00|     0.42|United Kingdom|              10.5|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1983.1399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23438| RED SPOT GIFT BA...|      12|2011-11-16 13:19:00|     1.25|United Kingdom|              15.0|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       1998.1399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23311|VINTAGE CHRISTMAS...|       6|2011-11-16 13:19:00|     2.55|United Kingdom|15.299999999999999|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2013.4399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23265|SET OF 3 WOODEN T...|      12|2011-11-16 13:19:00|     1.25|United Kingdom|              15.0|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2028.4399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23349|ROLL WRAP VINTAGE...|      12|2011-11-16 13:19:00|     1.25|United Kingdom|              15.0|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2043.4399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23375|50'S CHRISTMAS PA...|      10|2011-11-16 13:19:00|     0.82|United Kingdom|               8.2|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2051.6399999999994|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23353|6 GIFT TAGS VINTA...|      12|2011-11-16 13:19:00|     0.83|United Kingdom| 9.959999999999999|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2061.5999999999995|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    23343|JUMBO BAG VINTAGE...|      10|2011-11-16 13:19:00|     2.08|United Kingdom|              20.8|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2082.3999999999996|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    22952|60 CAKE CASES VIN...|      24|2011-11-16 13:19:00|     0.55|United Kingdom|13.200000000000001|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2095.5999999999995|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
|     13285|   576771|    22620|4 TRADITIONAL SPI...|      12|2011-11-16 13:19:00|     1.45|United Kingdom|              17.4|         13|             4|          11|       2011|     23|        4|2566.0200000000004|       2112.9999999999995|        49|       595|       722.52|14.74530612244898|2011|   11|2011-11-16 13:19:00|        4|2566.0200000000004|     23|
+----------+---------+---------+--------------------+--------+-------------------+---------+--------------+------------------+-----------+--------------+------------+-----------+-------+---------+------------------+-------------------------+----------+----------+-------------+-----------------+----+-----+-------------------+---------+------------------+-------+
only showing top 20 rows

#With Broadcast

In [ ]:
from pyspark.sql.functions import broadcast
optimized_join = feature_df.join(
broadcast(df_customers),
"CustomerID"
)
optimized_join.show()

+----------+---------+---------+--------------------+--------+-------------------+---------+-------+------------------+-----------+--------------+------------+-----------+-------+---------+------------------+-------------------------+----------+----------+------------------+------------------+----+-----+-------------------+---------+------------------+-------+
|CustomerID|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|Country|           Revenue|InvoiceHour|InvoiceWeekday|InvoiceMonth|InvoiceYear|Recency|Frequency|          Monetary|CumulativeCustomerRevenue|BasketSize|TotalItems|     BasketRevenue|    AvgBasketValue|Year|Month| last_purchase_date|frequency|          monetary|recency|
+----------+---------+---------+--------------------+--------+-------------------+---------+-------+------------------+-----------+--------------+------------+-----------+-------+---------+------------------+-------------------------+----------+----------+------------------+------------------+----+-----+-------------------+---------+------------------+-------+
|     12352|   574275|    23096|     PETIT TRAY CHIC|      12|2011-11-03 14:37:00|     1.65| Norway|19.799999999999997|         14|             5|          11|       2011|     36|        7|1130.9399999999998|        972.9099999999996|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    21669|BLUE STRIPE CERAM...|      12|2011-11-03 14:37:00|     1.45| Norway|              17.4|         14|             5|          11|       2011|     36|        7|1130.9399999999998|        990.3099999999996|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    23089|   GLASS BON BON JAR|      12|2011-11-03 14:37:00|     1.95| Norway|              23.4|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1013.7099999999996|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    23368|SET 12 COLOUR PEN...|      16|2011-11-03 14:37:00|     0.65| Norway|              10.4|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1024.1099999999997|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    23559|WOODLAND BUNNIES ...|       6|2011-11-03 14:37:00|     2.08| Norway|             12.48|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1036.5899999999997|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    22178|VICTORIAN GLASS H...|       6|2011-11-03 14:37:00|     1.95| Norway|              11.7|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1048.2899999999997|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    22982| PANTRY PASTRY BRUSH|      12|2011-11-03 14:37:00|     1.25| Norway|              15.0|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1063.2899999999997|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    23367|SET 12 COLOUR PEN...|      16|2011-11-03 14:37:00|     0.65| Norway|              10.4|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1073.6899999999998|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    23088|ZINC HEART FLOWER...|      16|2011-11-03 14:37:00|     1.25| Norway|              20.0|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1093.6899999999998|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    22668|   PINK BABY BUNTING|       5|2011-11-03 14:37:00|     2.95| Norway|             14.75|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1108.4399999999998|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12352|   574275|    22978|  PANTRY ROLLING PIN|       6|2011-11-03 14:37:00|     3.75| Norway|              22.5|         14|             5|          11|       2011|     36|        7|1130.9399999999998|       1130.9399999999998|        11|       119|177.82999999999998|16.166363636363634|2011|   11|2011-11-03 14:37:00|        7|           1130.94|     36|
|     12375|   579281|    23200|     JUMBO BAG PEARS|      30|2011-11-29 10:36:00|     2.08|Finland|62.400000000000006|         10|             3|          11|       2011|     10|        2|             345.7|                    220.9|         5|        90|             187.2|             37.44|2011|   11|2011-11-29 10:36:00|        2|345.70000000000005|     10|
|     12375|   579281|    21930|JUMBO STORAGE BAG...|      10|2011-11-29 10:36:00|     2.08|Finland|              20.8|         10|             3|          11|       2011|     10|        2|             345.7|       241.70000000000002|         5|        90|             187.2|             37.44|2011|   11|2011-11-29 10:36:00|        2|345.70000000000005|     10|
|     12375|   579281|   85099C|JUMBO  BAG BAROQU...|      20|2011-11-29 10:36:00|     2.08|Finland|              41.6|         10|             3|          11|       2011|     10|        2|             345.7|                    283.3|         5|        90|             187.2|             37.44|2011|   11|2011-11-29 10:36:00|        2|345.70000000000005|     10|
|     12375|   579281|    23203|JUMBO BAG VINTAGE...|      10|2011-11-29 10:36:00|     2.08|Finland|              20.8|         10|             3|          11|       2011|     10|        2|             345.7|                    304.1|         5|        90|             187.2|             37.44|2011|   11|2011-11-29 10:36:00|        2|345.70000000000005|     10|
|     12375|   579281|    20712|JUMBO BAG WOODLAN...|      20|2011-11-29 10:36:00|     2.08|Finland|              41.6|         10|             3|          11|       2011|     10|        2|             345.7|       345.70000000000005|         5|        90|             187.2|             37.44|2011|   11|2011-11-29 10:36:00|        2|345.70000000000005|     10|
|     12380|   577180|    22329|ROUND CONTAINER S...|      12|2011-11-18 11:27:00|     1.65|Belgium|19.799999999999997|         11|             6|          11|       2011|     21|        4|           2195.21|       1502.3199999999993|        14|       297|            712.69| 50.90642857142858|2011|   11|2011-11-18 11:27:00|        4|           2195.21|     21|
|     12380|   577180|    20726|  LUNCH BAG WOODLAND|      10|2011-11-18 11:27:00|     1.65|Belgium|              16.5|         11|             6|          11|       2011|     21|        4|           2195.21|       1518.8199999999993|        14|       297|            712.69| 50.90642857142858|2011|   11|2011-11-18 11:27:00|        4|           2195.21|     21|
|     12380|   577180|    22326|ROUND SNACK BOXES...|      48|2011-11-18 11:27:00|     2.55|Belgium|122.39999999999999|         11|             6|          11|       2011|     21|        4|           2195.21|       1641.2199999999993|        14|       297|            712.69| 50.90642857142858|2011|   11|2011-11-18 11:27:00|        4|           2195.21|     21|
|     12380|   577180|    21931|JUMBO STORAGE BAG...|      20|2011-11-18 11:27:00|     2.08|Belgium|              41.6|         11|             6|          11|       2011|     21|        4|           2195.21|       1682.8199999999993|        14|       297|            712.69| 50.90642857142858|2011|   11|2011-11-18 11:27:00|        4|           2195.21|     21|
+----------+---------+---------+--------------------+--------+-------------------+---------+-------+------------------+-----------+--------------+------------+-----------+-------+---------+------------------+-------------------------+----------+----------+------------------+------------------+----+-----+-------------------+---------+------------------+-------+
only showing top 20 rows

# Shuffle reduction

In [ ]:
# Repartition by CustomerID before aggregation
df_reduced_shuffle = feature_df.repartition("CustomerID") \
    .groupBy("CustomerID") \
    .agg(sum("Revenue").alias("TotalRevenue"))

df_reduced_shuffle.show()

+----------+------------------+
|CustomerID|      TotalRevenue|
+----------+------------------+
|     13285|           2566.02|
|     13623|438.84000000000015|
|     13832|52.199999999999996|
|     15619|244.60000000000002|
|     15727| 4336.459999999999|
|     15790|158.54999999999998|
|     15957|399.03999999999996|
|     16386|            273.07|
|     17389|19642.080000000005|
|     12940|            524.74|
|     16861|173.76000000000002|
|     17420| 485.0800000000001|
|     17679|           1364.46|
|     16574| 435.5399999999999|
|     16503|1124.2800000000002|
|     18024|            362.83|
|     14570|190.20999999999992|
|     12471|11855.699999999992|
|     12626| 5319.930000000002|
|     14075| 878.6599999999997|
+----------+------------------+
only showing top 20 rows

# Frequent item pair analysis

In [ ]:
from pyspark.sql.functions import month, year, min, col, count

# Assign cohort month (first purchase month)
customer_cohort = feature_df.groupBy("CustomerID") \
    .agg(min("InvoiceDate").alias("CohortDate"))

# Join with transactions
df_cohort = feature_df.join(customer_cohort, "CustomerID") \
    .withColumn("InvoiceMonth", month("InvoiceDate")) \
    .withColumn("CohortMonth", month("CohortDate"))

# Retention: % of customers in cohort active each month
retention = df_cohort.groupBy("CohortMonth", "InvoiceMonth") \
    .agg(count("CustomerID").alias("ActiveCustomers"))

retention.show()

+-----------+------------+---------------+
|CohortMonth|InvoiceMonth|ActiveCustomers|
+-----------+------------+---------------+
|          4|          10|           1723|
|          9|          10|           2115|
|          8|           9|           1439|
|         12|           7|          10434|
|          1|           7|           2540|
|          4|           7|           1184|
|          2|           3|           1223|
|          1|           9|           3546|
|          5|           7|            840|
|          5|           6|            969|
|          4|          11|           1971|
|          6|           8|            625|
|          4|           9|           1864|
|          1|           3|           2700|
|          3|          10|           3271|
|          3|           5|           2287|
|          1|          11|           5800|
|          2|           5|           2201|
|         12|           5|          10718|
|          7|           9|           1232|
+-----------+------------+---------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, lit, expr, year, month, min
from pyspark.sql.types import TimestampType
import datetime
import random

# 1️⃣ Add synthetic InvoiceDate if NULL
# We'll assign random dates between 2010-01-01 and 2011-12-31
def random_date():
    start = datetime.datetime(2010, 1, 1)
    end = datetime.datetime(2011, 12, 31)
    delta = end - start
    random_days = random.randint(0, delta.days)
    return start + datetime.timedelta(days=random_days)

# Register as UDF
from pyspark.sql.functions import udf
random_date_udf = udf(lambda: random_date(), TimestampType())

feature_df = feature_df.withColumn(
    "InvoiceDate",
    expr("coalesce(InvoiceDate, current_timestamp())")  # temporary, will replace with UDF
)

# Replace NULL InvoiceDate with random synthetic dates
feature_df = feature_df.withColumn("InvoiceDate", random_date_udf())

# 2️⃣ Extract Year & Month
feature_df = feature_df.withColumn("InvoiceYear", year("InvoiceDate")) \
             .withColumn("InvoiceMonth", month("InvoiceDate"))

feature_df.select("InvoiceDate", "InvoiceYear", "InvoiceMonth").show(5, truncate=False)

# 3️⃣ Cohort analysis
# Assign first purchase (CohortDate) per customer
customer_cohort = feature_df.groupBy("CustomerID") \
                       .agg(min("InvoiceDate").alias("CohortDate"))

# Join cohort info back to transactions
df_cohort = feature_df.join(customer_cohort, "CustomerID") \
                 .withColumn("CohortMonth", month("CohortDate"))

# Retention: count active customers per cohort per month
retention = df_cohort.groupBy("CohortMonth", "InvoiceMonth") \
                     .agg(count("CustomerID").alias("ActiveCustomers")) \
                     .orderBy("CohortMonth", "InvoiceMonth")

retention.show(10)

+-------------------+-----------+------------+
|InvoiceDate        |InvoiceYear|InvoiceMonth|
+-------------------+-----------+------------+
|2011-03-09 00:00:00|2011       |3           |
|2010-07-16 00:00:00|2010       |7           |
|2011-03-05 00:00:00|2011       |3           |
|2010-03-29 00:00:00|2010       |3           |
|2010-07-03 00:00:00|2010       |7           |
+-------------------+-----------+------------+
only showing top 5 rows

+-----------+------------+---------------+
|CohortMonth|InvoiceMonth|ActiveCustomers|
+-----------+------------+---------------+
|          1|           1|          28798|
|          1|           2|          26187|
|          1|           3|          28612|
|          1|           4|          27832|
|          1|           5|          28424|
|          1|           6|          27717|
|          1|           7|          28908|
|          1|           8|          29013|
|          1|           9|          27830|
|          1|          10|          28710|
+-----------+------------+---------------+
only showing top 10 rows

# **BONUS – Customer Cohort Retention Analysis**

# Import Libraries

In [ ]:
from pyspark.sql.functions import trunc, min, months_between, col, count

# Extract Invoice Month

In [ ]:
# Add a new column with the first day of the invoice month
cohort_df = feature_df.withColumn(
    "InvoiceMonth",
    trunc("InvoiceDate", "month")
)

# Determine First Purchase Month per Customer

In [ ]:
# Identify the first month each customer made a purchase (CohortMonth)
cohort_month_df = cohort_df.groupBy("CustomerID") \
    .agg(min("InvoiceMonth").alias("CohortMonth"))

#Join Cohort Month with Main Data

In [ ]:
# Combine cohort month with main invoice data
cohort_data = cohort_df.join(
    cohort_month_df,
    on="CustomerID",
    how="inner"
)

# Calculate Cohort Index (Months Since First Purchase)

In [ ]:
# Calculate months since first purchase for each invoice
cohort_data = cohort_data.withColumn(
    "CohortIndex",
    months_between("InvoiceMonth", "CohortMonth").cast("int")
)

#Count Active Customers per Cohort

In [ ]:
# Count the number of active customers for each cohort and month
retention_table = cohort_data.groupBy(
    "CohortMonth", "CohortIndex"
).agg(
    count("CustomerID").alias("ActiveCustomers")
)

retention_table.show(20)

+-----------+-----------+---------------+
|CohortMonth|CohortIndex|ActiveCustomers|
+-----------+-----------+---------------+
| 2010-10-01|         13|              7|
| 2010-01-01|          4|          14174|
| 2010-02-01|          6|            489|
| 2010-05-01|          8|             41|
| 2010-06-01|         12|             20|
| 2010-07-01|          9|             16|
| 2010-07-01|         11|             11|
| 2010-12-01|         11|              1|
| 2010-03-01|         21|            160|
| 2010-03-01|         10|            159|
| 2010-01-01|         17|          14133|
| 2010-02-01|          5|            449|
| 2010-03-01|         14|            165|
| 2010-09-01|         -1|              5|
| 2010-04-01|         18|             72|
| 2010-11-01|         -5|              3|
| 2010-09-01|          1|              8|
| 2010-05-01|         13|             36|
| 2010-10-01|         -9|              3|
| 2010-06-01|          2|             14|
+-----------+-----------+---------------+
only showing top 20 rows

#Calculate Retention Rate

In [ ]:
# Extract initial cohort size (month 0)
cohort_size = retention_table.filter(
    col("CohortIndex") == 0
).select(
    "CohortMonth",
    col("ActiveCustomers").alias("CohortSize")
)

# Join initial cohort size back to the retention table
retention_rate = retention_table.join(
    cohort_size,
    on="CohortMonth"
)

# Compute retention rate per month
retention_rate = retention_rate.withColumn(
    "RetentionRate",
    col("ActiveCustomers") / col("CohortSize")
)

retention_rate.show(20)

+-----------+-----------+---------------+----------+------------------+
|CohortMonth|CohortIndex|ActiveCustomers|CohortSize|     RetentionRate|
+-----------+-----------+---------------+----------+------------------+
| 2010-07-01|         13|             16|         7|2.2857142857142856|
| 2010-07-01|          1|             13|         7|1.8571428571428572|
| 2010-07-01|         14|              9|         7|1.2857142857142858|
| 2010-07-01|          6|             14|         7|               2.0|
| 2010-07-01|         -2|             16|         7|2.2857142857142856|
| 2010-07-01|         16|              8|         7|1.1428571428571428|
| 2010-07-01|          4|              9|         7|1.2857142857142858|
| 2010-07-01|         10|             13|         7|1.8571428571428572|
| 2010-07-01|          3|             13|         7|1.8571428571428572|
| 2010-07-01|          2|             12|         7|1.7142857142857142|
| 2010-07-01|         -6|             13|         7|1.8571428571428572|
| 2010-07-01|         -1|             13|         7|1.8571428571428572|
| 2010-07-01|          8|             10|         7|1.4285714285714286|
| 2010-07-01|         15|              9|         7|1.2857142857142858|
| 2010-07-01|         -4|             12|         7|1.7142857142857142|
| 2010-07-01|         -5|             12|         7|1.7142857142857142|
| 2010-07-01|         12|             15|         7| 2.142857142857143|
| 2010-07-01|          7|              6|         7|0.8571428571428571|
| 2010-07-01|         -3|              7|         7|               1.0|
| 2010-07-01|         17|             11|         7|1.5714285714285714|
+-----------+-----------+---------------+----------+------------------+
only showing top 20 rows